html{
    width: 99%;
    height: 99%;
}

body{
    width: 100%;
    height: 100%;
    border: black solid 2px;
}

header  {
    display: flex;
   
}
header nav{
    
}

header ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}

header ul li{
    border: blue solid 5px
}




.cardID{
    border: blue 2px solid;
    text-align: center;
}

