html{
    width: 99%;
    height: 99%;
}

body{
    width: 100%;
    height: 100%;
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    padding: 8px;   
}



header  {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

header nav{
    margin-right: 10em;
    
}

header ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    
}

header ul li{
    border: blue solid 5px
}


main{
    flex: 4;
}

.cardID{
    border: blue 2px solid;
    text-align: center;
}


footer{
    flex: 1;
    display: flex;
    justify-content: space-around;
    color:rgb(45, 36, 218)

}
footer ul{
    list-style-type: none;
    
}

footer ul li{
    margin: 0 0 10px 0;
    text-decoration: none;
}

a{
    text-decoration: none;
    color:rgb(45, 36, 218)
}
