html{
    height: 100%;
    width: 100%;
    display: flex;

}
header{
    color: rgb(0, 0, 0);
    font-family: Andale Mono, monospace	;
    font-weight: 600;
    flex: 1;
    border-radius: 15px;

    
}


.C1{
    background-color: rgb(129, 224, 192);
    flex: 1;
    border-radius: 15px;


}
.C2{
    background-color: rgb(195, 255, 66);
    flex: 3;
    border-radius: 15px;
 
}

.C2 #Itens {
    font-weight:400;
}

.Container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;   
    flex: 6; 
}

body{
height: 100%;
width: 100%;
display: flex;
flex-direction: column;

}

footer{
flex: 1;   
background-color: rgb(44, 134, 179); 
text-align: center;
border-radius: 15px;
margin: 10px;
font-family: Arial;
font-size: larger;
font-weight:700;
}

.alimstyle{
    image-rendering: optimizeQuality;    
    border-color: aquamarine;
    border-radius: 20px;
}


#Sushi{
    display: flex;
}
#Sushi button{
    margin-left: 10px;
}

